#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chatContainer {
    width: 400px;
    height: 750px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    box-shadow: 0 4px 25px lightgrey;
    display: flex;
    flex-direction: column;
}

.chatHeader {
    height: 70px;
    border-radius: 16px 16px 0 0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: lightskyblue;
}

.headerAvatar {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerButton {
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: auto;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: inherit;
    color: white;
    cursor: pointer;
    outline: none !important;
}

.chatBody {
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 16px;
    overflow-y: auto;
}

.chatBody > :first-child {
    margin-top: auto;
}

.messageSent {
    padding: 8px 12px;
    border-radius: 12px 12px 0 12px;
    align-self: flex-end;
    color: white;
    font-weight: 500;
}

.messageReceived {
    padding: 8px 12px;
    border: 1px solid grey;
    border-radius: 12px 12px 12px 0;
    align-self: flex-start;
    font-weight: 500;
}

.loadingMessage {
    background-color: ghostwhite;
    border-color: ghostwhite;
}

.chatFooter {
    position: relative;
    padding: 8px 30px 24px 30px;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.emojiMenuButton {
    padding: 0;
    padding-bottom: 1px;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    align-self: flex-start;
}

.emojiMenu {
    position: absolute;
    top: 36px;
    padding: 4px;
    border: 1px solid grey;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: white;
    z-index: 10;
}

.emojiButton {
    padding: 0;
    padding-bottom: 1px;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    align-self: flex-start;
}

.chatForm {
    display: flex;
    flex: 1;
    gap: 24px;

    input {
        flex: 1;
        padding: 0 8px;
        border: 1px solid darkgrey;
        border-radius: 6px;
    }

    button {
        background-color: dodgerblue;
        color: white;
    }
}