#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chatContainer {
    width: 400px;
    height: 750px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chatHeader {
    height: 60px;
    background-color: lightskyblue;
    padding: 0 36px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.chatAvatar {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatBody {
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 16px;
    overflow-y: auto;
}

.chatBody > :first-child {
    margin-top: auto;
}

.messageSent {
    padding: 8px 12px;
    border-radius: 12px 12px 0 12px;
    align-self: flex-end;
    background: linear-gradient(rgb(0, 235, 80), rgb(0, 220, 70));
    /* background: linear-gradient(rgb(50, 165, 254), rgb(40, 155, 254)); */
    color: white;
    font-weight: 500;
}

.messageReceived {
    padding: 8px 12px;
    border: 1px solid grey;
    border-radius: 12px 12px 12px 0;
    align-self: flex-start;
    font-weight: 500;
}

.chatFooter {
    height: 100px;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.chatForm {
    display: flex;
    flex: 1;
    gap: 24px;

    input {
        flex: 1;
        padding: 0 8px;
        border: 1px solid darkgrey;
        border-radius: 6px;
    }

    button {
        background-color: dodgerblue;
        color: white;
    }
}